<div id="type-effect">
</div>
<br>
<br>
<br>
<br>
<iframe class="LikeCoin" height="180" src="https://button.like.co/in/embed/{{ .Site.Params.likerID }}/button?referrer={{ .Permalink }}" width="80%" frameborder=0></iframe>
<!-- type-effect -->
<style>
	#type-effect {
	  white-space: nowrap;
	  overflow: hidden;
	  font-size: 20px;
	  font-family: monospace, sans-serif  ;
	  border-right: 1px solid rgb(255, 255, 255);
	  /* 這個屬性實現了打字機光標效果 */
	  padding-right: 5px;
	  white-space: pre-wrap;
	  position: absolute;
    
	}
  </style>
  <script>
  	var url = window.location.href;
	var ln = "en";
	if (url.indexOf("/zh-tw/") > -1) {
  	ln = "zh";
	}
	if (ln === "zh") {
	  var message = "如果這個文章對您有幫助或是有任何疑問，歡迎留言。👇"
	  speed = 100
	}
	else {
	  var message = "If this posts was helpful to you or if you have any questions, feel free to leave a comment and ask.👇"
	  speed = 50
	}
  
	const typeEffectDiv = document.getElementById("type-effect");
  
	function typeEffect(message, element) {
	  let i = 0;
	  const interval = setInterval(function () {
		if (i === message.length) {
		  clearInterval(interval);
		  setTimeout(function () {
			element.textContent = "";
			typeEffect(message, element);
		  }, 2000); // 停頓一秒後重新開始
		} else {
		  element.textContent += message[i];
		  i++;
		}
	  }, speed); // 打字速度為每 50 毫秒一個字

	}
	typeEffect(message, typeEffectDiv);
  </script>
<!-- type-effect -->