{{ define "main" }}
	<main class="main list" role="main">
		{{- with .Title }}
		<header class="main__header">
			<h1 class="main__title">{{- partial "svg/tag.svg" (dict "class" "tags__badge") -}}{{ . }}</h1>
		</header>
		
		{{- end }}
		{{ $tags := slice }}
	{{ range .Pages }}
		{{ $tags = union $tags .Params.tags }}
	{{ end }}




		{{- with .Content }}
		<div class="content main__content clearfix">
			{{ . }}
		</div>
		{{- end }}
		{{- range .Paginator.Pages }}
			{{- .Render "summary" }}
		{{- end }}
	</main>

	{{ partial "pagination.html" . }}
{{ end }}


